html {
  scroll-behavior: smooth;
}


@tailwind base;
@tailwind components;
@tailwind utilities;



/* Scrolling text animation */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}